body {
  background-color: #000;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
}

#main {
  min-height: 100vh;
  box-sizing: border-box;
}

.heading {
  margin-top: 2em;
  margin-bottom: 2em;
}

.btn {
  background-color: #222;
  border: 1px solid #222;
  height: 50px;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  border-radius: 4px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}

#shuffleText {
  margin-left: 10px;
  display: inline-block;
}

.btn-gradient {
  background-color: #ff1b43;
  background-image: linear-gradient(to bottom, #ff1b43, #f06d06);
  border: 1px solid #ff1b43;
}

.btn-gradient:hover {
  color: #222;
  cursor: pointer;
}

.btn-gradient:hover > svg {
  fill: #222;
}

.btn-login, .btn-shuffle {
  margin: 0 auto;
}

.btn-shuffle .shuffle-text {
  display: block;
}

.btn-login {
  width: 220px;
  height: 20px;
  margin-top: 2em;
}

#oauth-template {
  background-color: transparent;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 500px;
}

.hidden {
  display: none;
}

#player {
  margin-top: 3em;
}

#player h4 {
  text-align: center;
  margin: 0 auto;
  font-size: 2em;
}

#player h3 {
  text-align: center;
  margin: 0 auto;
  font-size: 2.5em;
  background: -webkit-linear-gradient(#ff1b43, #f06d06);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1em;
}

#player .songDivider {
  margin: 0 10px;
}

#playlistsContainer {
  margin: 0 auto;
  overflow: auto;
  padding-bottom: 1em;
  width: 100%;
}

#playlistsContainer ul {
  list-style-type: none;
  padding-left: 0px;
}

#playlistsContainer ul li {
  margin-right: 1.5em;
  float: left;
  text-align: left;
  display: flex;
}

#playlistsContainer ul li span {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 190px;
  white-space: nowrap;
}

.select-playlists {
	margin-bottom: 10px;
}

.playlist-section {
  height: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.playlist-section::-webkit-scrollbar { width: 10px; height: 3px;}
.playlist-section::-webkit-scrollbar-button {  background-color: #666; }
.playlist-section::-webkit-scrollbar-track {  background-color: #646464;}
.playlist-section::-webkit-scrollbar-track-piece { background-color: #000;}
.playlist-section::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
.playlist-section::-webkit-scrollbar-corner { background-color: #646464;}
.playlist-section::-webkit-resizer { background-color: #666;}


.playlist-checkbox, input[type="radio"] {
  accent-color: #34495e;
}

input[type="checkbox"] {
  margin-right: 10px;
}

.owned-playlist {
  margin-left: 5px;
}

.other-playlist {
  color: #ff1b43; 
  margin-left: 5px;
}

.other-playlist {
  color: hotpink;
}

.gradient-border {
  border-top: 10px solid;
  border-bottom: 10px solid;
  border-image: linear-gradient(#ff1b43, #f06d06) 30;
}

.options-group {
  margin-top: 3em;
}

.options-label {
  color: #999595;
  margin-bottom: 0px;
}

.options-checkbox {
  display: flex; 
  justify-content: space-between;
}

.options-checkbox p {
  font-weight: bold;
}

.options-checkbox label {
  display: flex;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 5px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 4px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-image: linear-gradient(to bottom, #ff1b43, #f06d06);
}

input:focus + .slider {
  box-shadow: 0 0 1px #ff1b43;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 

.hidden {
  display: none;
}

#loggedin {
  width: 80%;
  margin: 0 auto; 
  display: flex; 
  justify-content: center; 
  flex-direction: column; 
  margin-top: 3em;

  @media only screen and (max-width: 600px) {
      width: 90%;
  }

  @media only screen and (min-width: 992px) {
      width: 50%;
  }
}

#settingsContainer {
  width: 80%;
  margin: 0 auto; 
  display: flex; 
  justify-content: center; 
  flex-direction: column; 

  @media only screen and (max-width: 600px) {
      width: 90%;
  }

  @media only screen and (min-width: 992px) {
      width: 60%;
  }
}

.fa-beat {
  animation:fa-beat 5s ease infinite;
}

@keyframes fa-beat {
  0% {
    transform:scale(1);
  }
  5% {
    transform:scale(1.25);
  }
  20% {
    transform:scale(1);
  }
  30% {
    transform:scale(1);
  }
  35% {
    transform:scale(1.25);
  }
  50% {
    transform:scale(1);
  }
  55% {
    transform:scale(1.25);
  }
  70% {
    transform:scale(1);
  }
}

.alert-danger {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
}

.alert {
	position: relative;
	padding: .75rem 1.25rem;
	border: 1px solid transparent;
	border-radius: .25rem;
	width: 50%;
	margin: 0 auto;
	margin-top: 1rem;
}